.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    min-width: 300px;
    width: min-content;
}

canvas {
    box-shadow: 1px 12px 0px -10px black;
}
